@charset "UTF-8";

@media screen and (max-width: 930px)  {

    :root {
        --pricipal: #002f6d;
        --secundario: #4d88e0; 
        --destaques: #3cced3;
        --discreto: #838383fd;
    }

    html, body {
        background-color: #83838349;
    }

    header {
        background-color: var(--pricipal);
        width: 400px;
        margin: auto;
        display: flex;
        flex-flow: column nowrap;
        align-content: space-evenly;
        position: relative;
    }

    i#sanduiche {
        font-size: 2em;
        margin: 20px 50px -20px 300px;
        height: auto;
        cursor: pointer;
        display: block;
        position: fixed;
    }

    i#X {
        display: block;
        font-size: 2em;
        font-weight: bolder;
        cursor: pointer;
    }



    menu#vertical {
        background-color: var(--secundario);
        padding: 25px;
        position: absolute;
        right: 0px;
        display: none;
        
    }

    #vertical li {
        font-size: 1.1em;
    }

    header h1 {
        font-size: 2em;
        text-align: center;
        width: 316px;
        padding: 0px;
        margin: 50px;
        margin-bottom: 100px;
        transition: 1s;
    }

    p#resumo {
        margin: 108px 0px 0px 0px;
        padding: 42px;
        padding-right: 146px;
        width: 207px;
    }

    img#eu {
        margin: -219px;
        margin-right: 46px;
        border-radius: 5px 10px;
        height: 126px;
        width: 99px;
        align-self: flex-end;
    }

    img#eu:hover {
        pointer-events: none;
    }
    
    menu#horizontal {
        display: none;
        
    }

    main {
        background-color: var(--pricipal);
        width: 400px;
        margin: auto;
    }

    h2, h3 {
        margin: 0px;
        padding: 25px;
    }

    main#meusProjetos {
        height: 600px;
    }

    button.areas {
        padding: 10px 40px;
        margin: 0px 10px;
        transform: skewY(0deg);
    }

    button.areas:hover {
        pointer-events: none;
    }

    div#pai {
        
    }

    div.projetos {
        width: 325px;
    }

    div#pai2 {
        display: none;
    }

    main#sobreMim {
        height: 1080px;
    }
    
    p#mim {
        margin: 25px;
        columns: 1;
    }


    main#comoAjudar {
        height: auto;
    }

    button.textos01 {
        display: none;
    }

    button.textos02 {
        display: block;
        margin: 15px auto;
    }

    p.ajudar {
        margin: 25px;
        height: auto;
    }
}