@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Oxanium:wght@200..800&family=Sora:wght@100..800&display=swap');

:root {
    --pricipal: #002f6d;
    --secundario: #4d88e0; 
    --destaques: #3cced3;
    --discreto: #bbbbbbfd;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: 'arvo', 'Times New Roman', Times, serif;
    
}



html, body {
    background-color: var(--pricipal);
    color: white;
    height: 100dvh;
    position: relative;
    cursor: url("imagens/cursor-transparente.webp"), auto;
    

}

div#barraMobile {
    display: none;
}

p strong {
    color: var(--destaques);
}



header {
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-flow: row wrap;
}

i#X, i#sanduiche {
    display: none;
}

header h1 {
    font-family: 'Oxanium', Arial, Helvetica, sans-serif;
    color: white;  
    width: 450px;
    height: 0px;
    padding: 50px;
    padding-bottom: 0px;
    font-size: 2.2em;
    
}

h2, h3 {
    font-family: 'sora', Arial, Helvetica, sans-serif;
    margin: 25px;
    margin-left: 0px;
    
}

menu#vertical {
    display: block;
    position: absolute;
    right: 25px;
    top: 25px;
    height: 100dvh;
    width: 145px;
    top: 0px;
    right: 0px;
    padding: 0px;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
}

menu#vertical li {
    list-style-type: none;
    color: var(--pricipal);
    text-decoration: none;
    margin-top: 50px;
    padding: 5px 5px 5px 16px;
    position: relative;
    text-decoration: none;
    transition: .5s;
    width: 124px;
    text-align: center;
}

button.menu {
    background-color: transparent;
    border: none;
}

/* #home.atual, #projetos.atual, #sobreMim.atual, #ajuda.atual {
    background-color: var(--secundario);
    box-shadow: 0px 0px 5px var(--secundario), 
                0px 0px 25px var(--secundario),
                0px 0px 50px var(--secundario),
                0px 0px 200px var(--secundario);
    border-radius: 5px;
    transition: 0.5s;

    button.menu {
        color: var(--pricipal);
    }

    i.material-icons {
        color: var(--pricipal);
    }    
}     */

li.vertical, div.linkshori, button.menu {
    cursor: pointer;
}

div.linkshori:hover, li.vertical:hover {
    background-color: var(--secundario);
    box-shadow: 0px 0px 5px var(--secundario), 
                0px 0px 25px var(--secundario),
                0px 0px 50px var(--secundario),
                0px 0px 200px var(--secundario);
    border-radius: 5px;
    transition: 0.5s;

    button.menu {
        color: var(--pricipal);
    }

    i.material-icons {
        color: var(--pricipal);
    }    
}    

button.menu {
    font-family: 'sora';
    color: white;
    font-size: .8em;
    text-decoration: none;
    padding: 0px;
    transition: 1.0s;
}

li.vertical i.material-icons {
    color: white;
    position: absolute;
    left: 0px;
    transition: 1.0s;
}

menu#vertical aside#traduzir {
    position: absolute;
    bottom: 50px;

}

#ajuda i {
    position: absolute;
    top: 12px;
}

div#idioma {
    background-color: #83838367;
    margin: 10px 5px;
    padding: 8px;
    border-radius: 10px;
    border: 1px solid var(--secundario);
    display: none ;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

p#idi {
    background-color: var(--secundario);
    padding: 10px 28px;
    border-radius: 10px;
    font-size: 1em;
    font-family: 'sora';
    cursor: pointer;
}

#idi:hover {
    background-color: #4d88e0b7;
}

p#idiHori {
    padding: 10px 35px;
    border-radius: 10px;
    font-size: 1em;
    font-family: 'sora';
    cursor: pointer;
    transition: .2s;
}

#idiHori:hover {
    background-color: #002f6d2f;
}

img.tradução {
    width: 25px;
    height: 17px;
}

menu#horizontal {
    background-color:var(--secundario);
    width: 90dvw;
    height: auto;
    padding: 15px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    box-shadow: 3px 0px 3px rgba(0, 0, 0, 0.349);
    position: fixed;
    top: 0px;
    left: 3%;
    border-radius: 0px 0px 15px 15px ;
    z-index: 1000;
    
    
}


div#idiomaHori {
    background-color: #002f6d45 ;
    padding: 8px;
    border-radius: 10px;
    border: 1px solid var(--secundario);
    display: none ;
    flex-flow: row wrap;
    justify-content: space-evenly;
} 

div.linkshori {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: 0px 35px ;
}

img#eu {
    margin: auto;
    height: 415px;
    width: 370px;
    border-radius: 50px 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.336);
    transition: 0.3s;
}

img#eu:hover {
    transform: skewY(-5deg);
}

p#resumo {
    width: 250px;
    padding: 50px;
    padding-left: 0px;
    margin-bottom: 80px;
    margin-left: -497px;
    font-size: 1.2em;
    padding-bottom: 0px;
    align-self: flex-end;
    
}

main {
    margin: 80px auto 170px auto;
    width: 1066px;
    height: 500px;
}

main#meusProjetos {
    height: 500px;
}

aside#seções {
    align-self: stretch;
    margin: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 20px 0px ;
    
}

button.areas {
    background-color: transparent;
    color: var(--secundario);
    border: 2px solid var(--secundario);
    border-radius: 20px;
    padding: 7px 155px;
    transform: skewY(-3deg);
    box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.411);
    transition: 1.0s;
}

button.areas strong {
    position: relative;
    z-index: 2;
    border-radius: 20px;
}

button.areas:hover {
    color: white;
    background-color: var(--secundario);
    transition: .5s;
    transform: skewY(0deg);
    box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.411);
    border-radius: 20px;
}

button.areas::before {
    background-color: var(--secundario);
    border-radius: 20px;
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 100%;
    transition: width 1.0s  ease;
    z-index: 1;
}

button.areas:hover::before {
    width: 100%;
    color: var(--discreto);
    border-radius: 20px;
}

div#pai {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    height: 500px;
}


div.projetos {
    background-color: var(--discreto);
    margin: 15px;
    border: 3px solid var(--secundario);
    width: 400px;
    height: 100px;
    transform: skewY(-6deg);
}

main#sobreMim {
    height: 500px;

}

p#mim {
    columns: 2;
}

aside#sobreMim {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-top: 40px;
}

section#habilidades {
    background-color: var(--discreto);
    display: inline-block;
    margin: 20px;
    padding: 10px;
    border-radius: 25px;
    width: 376px;
}

img.linguagens {
    margin: 4px;
}

section#curriculo {
    background-color: var(--discreto);
    display: flex;
    flex-flow: column wrap;
    margin: 20px;
    padding: 10px;
    border-radius: 25px;
    width: 376px;
}

a.curriculo {
    color: black;
    text-align: center;
    font-size: 1.3em;
    text-decoration: none;
    margin: 15px 0px;
}

a.curriculo:hover {
    color: var(--pricipal);
}

main#comoAjudar {
    height: auto;
    margin-bottom: 20px;
}

aside#melhorTexto01 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

button.textos01 {
    font-family: 'sora', Arial, Helvetica, sans-serif;
    background-color: transparent;
    color: var(--secundario);
    border: 2px solid var(--secundario);
    transform: skewY(-3deg);
    box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.411);
    transition: 1.0s;
    width: 285px;
    height: 40px;
    margin: 50px;
}

button.textos01 strong {
    position: relative;
    z-index: 2;
}

button.textos01:hover {
    color: white;
    background-color: var(--secundario);
    transition: .5s;
    transform: skewY(0deg);
    box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.411);
    
}

button.textos01::before {
    background-color: var(--secundario);
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 100%;
    transition: width 1.0s  ease;
    z-index: 1;
    box-shadow: 0px 0px 5px var(--secundario), 
                0px 0px 25px var(--secundario),
                0px 0px 50px var(--secundario),
                0px 0px 200px var(--secundario);
}

button.textos01:hover::before {
    width: 100%;
    color: var(--discreto);
}

aside#melhorTexto02 {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    
}

button.textos02 {
    display: none;
    background-color: var(--secundario);
    padding: 5px;
    margin: 0px 25px;
    color: white;
    border:2px solid var(--secundario);
    border-radius: 25px;
    transition: .4s;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.329);
    
}

button.textos02:hover {
    background-color: var(--pricipal);
    color: white;
    border:2px solid var(--secundario);
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.158);
    filter: none;
}

button.textos02.clicado {
    background-color: var(--pricipal);
    color: white;
    border:2px solid var(--secundario);
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.158);
    filter: none;
}

button.textos02 strong {
    font-family: 'sora', Arial, Helvetica, sans-serif;
    filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.411));
}

p.ajudar {
    display: none;
    background-color: rgba(255, 255, 255, 0.452);
    color: black;
    width: 600px;
    height: 120px;
    margin: 50px auto;
    text-align: center;
    padding: 25px;
    border-radius: 20px;
    box-shadow: inset 7px 9px 16px rgba(0, 0, 0, 0.418);
}


footer {
    background-color: var(--secundario);
    height: auto;
    display: flex;
    flex-flow: row nowrap;

}

nav {
    background-color: rgba(255, 255, 255, 0.719);
    color: var(--pricipal);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.247);
    border-radius: 20px;
    width: 300px;
    margin: 50px;
    padding: 15px;
    
    
}

nav div {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

h2#contato {
    margin: 0px;
    margin-bottom: 25px;
    height: 25px;
    filter: drop-shadow(0px 0px 0px black);
    font-size: 1.3em;
}

.links {
    margin: 10px 15px 0px 15px;
    border-radius: 50%;
    box-sizing: border-box;
    background-color: white;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: 0.5s;
    background-color: var(--pricipal);
    color: var(--secundario);
}

.links:hover {
    background-color: var(--secundario);
    color: black;
    box-shadow: 0px 0px 5px var(--secundario), 
    0px 0px 25px var(--secundario),
    0px 0px 50px var(--secundario),
    0px 0px 200px var(--secundario);
}

nav img {
    filter: drop-shadow(0px 0px 5px white);
}

nav img:hover {
    filter: drop-shadow(none);;
}

footer p {
    font-size: 1.2em;
    margin: 100px 80px;
}




